{% extends 'Home/index.html' %}

{% block INDEX_TITULO %}
    Categorias de cursos
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
    <div class="d-grid gap-1">
        {% if user.is_staff %}
            <a href="{% url 'Curso:cursocategoria_create' %}" class="btn btn-primary">Crear categorias</a>
            <br>   
        {% endif %}

        <a href="{% url 'Curso:cursocategoria_list' %}" class="btn btn-primary">Listar categorias</a>
        <br>
        <a href="{% url 'Home:home' %}"> IR AL MENU</a>
    </div>   
{% endblock INDEX_CONTENIDO %}