{% extends 'Home/index.html' %}

{% block INDEX_TITULO %}
    Cursos
{% endblock INDEX_TITULO %}

{% block INDEX_CONTENIDO %}
    <h3 class="pb-lg-3">
        Categoria de cursos
    </h3>
    <div class="d-grid gap-1">
        {% if user.is_staff %}
            <a href="{% url 'Curso:cursocategoria_create' %}" class="btn btn-primary">Crear categorias</a>
            <br>   
        {% endif %}

        <a href="{% url 'Curso:cursocategoria_list' %}" class="btn btn-primary">Listar categorias</a>
        <br>
    </div>   
    <h3 class="pb-lg-3">
        Cursos
    </h3>
    <div class="d-grid gap-1">
        {% if user.is_staff %}
            <a href="{% url 'Curso:curso_create' %}" class="btn btn-primary">Crear cursos</a>
            <br>   
        {% endif %}

        <a href="{% url 'Curso:curso_list' %}" class="btn btn-primary">Listar cursos</a>
        <br>
    </div>   


    {% include 'Home/index_back.html' %}
{% endblock INDEX_CONTENIDO %}